@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #19363d, #19363d);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e8ebec;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #19363d;
}

::selection {
  color: #ffffff;
  background: #19363d;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
